.root{
    width: 80%;
    margin: 1rem auto;
    border: 1px solid gray;
    li{
        cursor: pointer;
        &:hover{
            background-color: #f0f0f0;
            color: blue;
        }
    }
}